---
import { main } from './fonts.css.ts';

import BaseLayout from 'src/layouts/base.astro';
import { body_medium, body_small } from 'src/styles/atomic/fonts.css.ts';
---

<BaseLayout>
	<main class={main}>
		<h1>Lorem Ipsum</h1>
		<h2>Lorem Ipsum</h2>
		<h3>Lorem Ipsum</h3>
		<h4>Lorem Ipsum</h4>
		<h5>Lorem Ipsum</h5>
		<h6>Lorem Ipsum</h6>
		<p>Lorem Ipsum</p>
		<p class={body_medium}>Lorem Ipsum</p>
		<p class={body_small}>Lorem Ipsum</p>
	</main>
</BaseLayout>
