build/
certs/
data/
dist/
media/
node_modules/
out/
secrets/
temp/
vendor/

.devenv/
.next/
.pnpm/
.vercel/
.vite/
.yarn/

.idea/*
!.idea/runConfigurations

# non-Deno lock files
bun.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

.DS_Store
result

*.key
*.local
*.log
*.pem
*.tsbuildinfo
