build/
certs/
data/
dist/
media/
node_modules/
out/
secrets/
temp/
vendor/

# Files
pnpm-lock.yaml

# Formatted by Biome
**/*.json
**/*.jsonc
**/*.js
**/*.ts
**/*.tsx
**/*.jsx
**/*.mjs
**/*.cjs
**/*.css
