---
import { Divider } from 'src/components/divider.tsx';
import { BusinessHours } from 'src/components/business_hours.tsx';
import { body_small } from 'src/styles/atomic/fonts.css.ts';

import { divider, business_hours, head, footnote } from './business_hours.css.ts';
---

<section class={business_hours}>
	<Divider class={divider} />
	<h2 class={head}>Öffnungszeiten</h2>
	<BusinessHours />
	<p class:list={[body_small, footnote]}>Öffnungszeiten können abweichen</p>
</section>
