---
import asset_img_cafe from 'src/assets/ascii_hero.jpg';

import { hero, hero_image, hero_summary } from './hero.css.ts';
---

<section class={hero}>
	<img class={hero_image} src={asset_img_cafe} alt="ascii Theke" />
	<div class={hero_summary}>
		<h2>Studentisches Café der Informatik Fakultät der TUD</h2>
		<p>
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
			invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
			justo duo dolores et ea rebum.
		</p>
	</div>
</section>
