---
import BaseLayout from 'src/components/layouts/base/index.astro';

import './index.css.ts';
---

<BaseLayout hideFooter>
	<h1>Datenschutz&shy;erklärung</h1>
	<h2>Datenschutz auf einen Blick</h2>
	<h3>Allgemeine Hinweise</h3>
	<p>
		Die folgenden Hinweise geben einen einfachen &Uuml;berblick darüber, was mit Ihren
		personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind
		alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum
		Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
	</p>
	<h3>Datenerfassung auf dieser Website</h3>
	<h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
	<p>
		Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten
		können Sie dem Abschnitt &bdquo;Hinweis zur Verantwortlichen Stelle&ldquo; in dieser
		Datenschutzerklärung entnehmen.
	</p>
	<h4>Wie erfassen wir Ihre Daten?</h4>
	<p>
		Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich
		z.&nbsp;B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
	</p>
	<p>
		Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch
		unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.&nbsp;B. Internetbrowser,
		Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch,
		sobald Sie diese Website betreten.
	</p>
	<h4>Wofür nutzen wir Ihre Daten?</h4>
	<p>
		Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu
		gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
	</p>
	<h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
	<p>
		Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer
		gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die
		Berichtigung oder Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur
		Datenverarbeitung erteilt haben, können Sie diese Einwilligung jederzeit für die Zukunft
		widerrufen. Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der
		Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein
		Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
	</p>
	<p>
		Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.
	</p>
	<h2>Hosting</h2>
	<p>
		Diese Website wird extern gehostet. Die personenbezogenen Daten, die auf dieser Website erfasst
		werden, werden auf den Servern des Hosters / der Hoster gespeichert. Hierbei kann es sich
		v.&nbsp;a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten,
		Kontaktdaten, Namen, Websitezugriffe und sonstige Daten, die über eine Website generiert werden,
		handeln.
	</p>
	<p>
		Das externe Hosting erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren potenziellen und
		bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und
		effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6
		Abs. 1 lit. f DSGVO). Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die
		Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO und &sect; 25 Abs. 1
		TTDSG, soweit die Einwilligung die Speicherung von Cookies oder den Zugriff auf Informationen im
		Endgerät des Nutzers (z.&nbsp;B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die
		Einwilligung ist jederzeit widerrufbar.
	</p>
	<p>
		Unser(e) Hoster wird bzw. werden Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung
		seiner Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten
		befolgen.
	</p>
	<p>Wir setzen folgende(n) Hoster ein:</p>
	<p>
		GitHub Inc.<br />
		 88 Colin P Kelly Jr St<br />
		 San Francisco, CA 94107<br />
		 United States
	</p>
	<h2>Allgemeine Hinweise und Pflicht&shy;informationen</h2>
	<h3>Datenschutz</h3>
	<p>
		Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln
		Ihre personenbezogenen Daten vertraulich und entsprechend den gesetzlichen
		Datenschutzvorschriften sowie dieser Datenschutzerklärung.
	</p>
	<p>
		Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben.
		Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die
		vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen.
		Sie erläutert auch, wie und zu welchem Zweck das geschieht.
	</p>
	<p>
		Wir weisen darauf hin, dass die Datenübertragung im Internet (z.&nbsp;B. bei der Kommunikation
		per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
		durch Dritte ist nicht möglich.
	</p>
	<h3>Hinweis zur verantwortlichen Stelle</h3>
	<p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
	<p>ascii Dresden e.V.</p>

	<p>
		Telefon: +49 351 463 42221<br />
		 E-Mail: info@ascii-dresden.de
	</p>
	<p>
		Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit
		anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.&nbsp;B.
		Namen, E-Mail-Adressen o. &Auml;.) entscheidet.
	</p>

	<h3>Speicherdauer</h3>
	<p>
		Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde,
		verbleiben Ihre personenbezogenen Daten bei uns, bis der Zweck für die Datenverarbeitung
		entfällt. Wenn Sie ein berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur
		Datenverarbeitung widerrufen, werden Ihre Daten gelöscht, sofern wir keine anderen rechtlich
		zulässigen Gründe für die Speicherung Ihrer personenbezogenen Daten haben (z.&nbsp;B. steuer-
		oder handelsrechtliche Aufbewahrungsfristen); im letztgenannten Fall erfolgt die Löschung nach
		Fortfall dieser Gründe.
	</p>
	<h3>Allgemeine Hinweise zu den Rechtsgrundlagen der Datenverarbeitung auf dieser Website</h3>
	<p>
		Sofern Sie in die Datenverarbeitung eingewilligt haben, verarbeiten wir Ihre personenbezogenen
		Daten auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO bzw. Art. 9 Abs. 2 lit. a DSGVO, sofern
		besondere Datenkategorien nach Art. 9 Abs. 1 DSGVO verarbeitet werden. Im Falle einer
		ausdrücklichen Einwilligung in die &Uuml;bertragung personenbezogener Daten in Drittstaaten
		erfolgt die Datenverarbeitung außerdem auf Grundlage von Art. 49 Abs. 1 lit. a DSGVO. Sofern Sie
		in die Speicherung von Cookies oder in den Zugriff auf Informationen in Ihr Endgerät (z.&nbsp;B.
		via Device-Fingerprinting) eingewilligt haben, erfolgt die Datenverarbeitung zusätzlich auf
		Grundlage von &sect; 25 Abs. 1 TTDSG. Die Einwilligung ist jederzeit widerrufbar. Sind Ihre
		Daten zur Vertragserfüllung oder zur Durchführung vorvertraglicher Maßnahmen erforderlich,
		verarbeiten wir Ihre Daten auf Grundlage des Art. 6 Abs. 1 lit. b DSGVO. Des Weiteren
		verarbeiten wir Ihre Daten, sofern diese zur Erfüllung einer rechtlichen Verpflichtung
		erforderlich sind auf Grundlage von Art. 6 Abs. 1 lit. c DSGVO. Die Datenverarbeitung kann
		ferner auf Grundlage unseres berechtigten Interesses nach Art. 6 Abs. 1 lit. f DSGVO erfolgen.
		&Uuml;ber die jeweils im Einzelfall einschlägigen Rechtsgrundlagen wird in den folgenden
		Absätzen dieser Datenschutzerklärung informiert.
	</p>
	<h3>Empfänger von personenbezogenen Daten</h3>
	<p>
		Im Rahmen unserer Geschäftstätigkeit arbeiten wir mit verschiedenen externen Stellen zusammen.
		Dabei ist teilweise auch eine &Uuml;bermittlung von personenbezogenen Daten an diese externen
		Stellen erforderlich. Wir geben personenbezogene Daten nur dann an externe Stellen weiter, wenn
		dies im Rahmen einer Vertragserfüllung erforderlich ist, wenn wir gesetzlich hierzu verpflichtet
		sind (z.&nbsp;B. Weitergabe von Daten an Steuerbehörden), wenn wir ein berechtigtes Interesse
		nach Art. 6 Abs. 1 lit. f DSGVO an der Weitergabe haben oder wenn eine sonstige Rechtsgrundlage
		die Datenweitergabe erlaubt. Beim Einsatz von Auftragsverarbeitern geben wir personenbezogene
		Daten unserer Kunden nur auf Grundlage eines gültigen Vertrags über Auftragsverarbeitung weiter.
		Im Falle einer gemeinsamen Verarbeitung wird ein Vertrag über gemeinsame Verarbeitung
		geschlossen.
	</p>
	<h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
	<p>
		Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie
		können eine bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit der bis zum
		Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
	</p>
	<h3>
		Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art.
		21 DSGVO)
	</h3>
	<p>
		WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F DSGVO ERFOLGT, HABEN
		SIE JEDERZEIT DAS RECHT, AUS GR&Uuml;NDEN, DIE SICH AUS IHRER BESONDEREN SITUATION ERGEBEN,
		GEGEN DIE VERARBEITUNG IHRER PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH
		F&Uuml;R EIN AUF DIESE BESTIMMUNGEN GEST&Uuml;TZTES PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE,
		AUF DENEN EINE VERARBEITUNG BERUHT, ENTNEHMEN SIE DIESER DATENSCHUTZERKL&Auml;RUNG. WENN SIE
		WIDERSPRUCH EINLEGEN, WERDEN WIR IHRE BETROFFENEN PERSONENBEZOGENEN DATEN NICHT MEHR
		VERARBEITEN, ES SEI DENN, WIR K&Ouml;NNEN ZWINGENDE SCHUTZW&Uuml;RDIGE GR&Uuml;NDE F&Uuml;R DIE
		VERARBEITUNG NACHWEISEN, DIE IHRE INTERESSEN, RECHTE UND FREIHEITEN &Uuml;BERWIEGEN ODER DIE
		VERARBEITUNG DIENT DER GELTENDMACHUNG, AUS&Uuml;BUNG ODER VERTEIDIGUNG VON RECHTSANSPR&Uuml;CHEN
		(WIDERSPRUCH NACH ART. 21 ABS. 1 DSGVO).
	</p>
	<p>
		WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU BETREIBEN, SO HABEN SIE DAS
		RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM
		ZWECKE DERARTIGER WERBUNG EINZULEGEN; DIES GILT AUCH F&Uuml;R DAS PROFILING, SOWEIT ES MIT
		SOLCHER DIREKTWERBUNG IN VERBINDUNG STEHT. WENN SIE WIDERSPRECHEN, WERDEN IHRE PERSONENBEZOGENEN
		DATEN ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER DIREKTWERBUNG VERWENDET (WIDERSPRUCH NACH ART. 21
		ABS. 2 DSGVO).
	</p>
	<h3>Beschwerde&shy;recht bei der zuständigen Aufsichts&shy;behörde</h3>
	<p>
		Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer
		Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres
		Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht
		unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
	</p>
	<h3>Recht auf Daten&shy;übertrag&shy;barkeit</h3>
	<p>
		Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines
		Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen,
		maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte &Uuml;bertragung der
		Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar
		ist.
	</p>
	<h3>Auskunft, Berichtigung und Löschung</h3>
	<p>
		Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf
		unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und
		Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung
		dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich
		jederzeit an uns wenden.
	</p>
	<h3>Recht auf Einschränkung der Verarbeitung</h3>
	<p>
		Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
		verlangen. Hierzu können Sie sich jederzeit an uns wenden. Das Recht auf Einschränkung der
		Verarbeitung besteht in folgenden Fällen:
	</p>
	<ul>
		<li>
			<p>
				Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten,
				benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie
				das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
			</p>
		</li>
		<li>
			<p>
				Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht, können
				Sie statt der Löschung die Einschränkung der Datenverarbeitung verlangen.
			</p>
		</li>
		<li>
			<p>
				Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung,
				Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt
				der Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
			</p>
		</li>
		<li>
			<p>
				Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung
				zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht,
				wessen Interessen überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer
				personenbezogenen Daten zu verlangen.
			</p>
		</li>
	</ul>
	<p>
		Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten
		&ndash; von ihrer Speicherung abgesehen &ndash; nur mit Ihrer Einwilligung oder zur
		Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer
		anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen
		Interesses der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.
	</p>
</BaseLayout>
