.opening-hours-content {
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	left: 16px;
	perspective: 10cm;
	position: absolute;
	right: 16px;
	top: calc(100% - 10px);
}

@media (min-width: 768px) {
	.opening-hours-content {
		left: 0;
		right: 0;
		top: calc(100% + 4px);
	}
}

.opening-hours-content-surface {
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	transform-origin: top center;
}
