---
import BaseLayout from 'src/components/layouts/base/index.astro';

import '../datenschutz/index.css.ts';
---

<BaseLayout hideFooter>
	<h1>Impressum</h1>
	<h5>Adresse</h5>
	<p>
		Studentencafé ASCII<br />
		 Andreas-Pfitzmann-Bau, Raum E016<br />
		 Nöthnitzer Strasse 46<br />
		 01187 Dresden
	</p>
	<h5>E-Mail-Adresse</h5>
	<a href="mailto:info@ascii-dresden.de">
		<p>info@ascii-dresden.de</p>
	</a>
	<h5>Telefonnummer</h5>
	<a href="tel:+4935146342221">
		<p>+49 351 46342221</p>
	</a>
	<h5>GitHub</h5>
	<a href="https://github.com/ascii-dresden">
		<p>ascii-dresden</p>
	</a>
	<h5>Instagram</h5>
	<a href="https://www.instagram.com/asciidresden/">
		<p>@asciidresden</p>
	</a>
</BaseLayout>
