@use './preflight.css';

:root {
	--creme: #e09b67;
	--white: #ffffff;
	--brown: #3f1a0d;
	--blue: #133038;
	--status-green: #26c485;
	--status-red: #ff3366;
	--radius-large: 20px;
	--padding-small: 10px;
	--padding-regular: 20px;
	--padding-large: 30px;
	--padding-xl: 60px;
}

@font-face {
	font-family: 'Concert One';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('/assets/concert_one-0.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Concert One';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('/assets/concert_one-1.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	src: url('/assets/JetBrainsMono-Regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	src: url('/assets/JetBrainsMono-Bold.woff2') format('woff2');
	font-display: swap;
	font-weight: 600;
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	src: url('/assets/JetBrainsMono-ExtraBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 800;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Concert One'; // todo fallback font
}

h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 1.6rem;
}
img {
	border-radius: var(--radius-large);
}

body {
	font-family: 'JetBrains Mono', 'monospace';
	padding: 0;
	margin: 0;
}

header {
	display: grid;
	background-color: var(--white);
	--header-height: 2.2em;
	padding: var(--padding-small) var(--padding-regular);
	box-shadow: 0px -2px 11px black;
	position: sticky;
	top: 0;

	a {
		display: block;
	}

	.logo {
		height: var(--header-height);
		border-radius: 0;
	}

	.menu {
		height: var(--header-height);
		right: var(--padding-regular);
	}
}

section {
	padding: var(--padding-large) var(--padding-regular) var(--padding-xl) var(--padding-regular);
	min-height: 50vh;

	h1 {
		margin: var(--padding-regular) 0 var(--padding-large);
	}

	div.textbox {
		border-radius: var(--radius-large);
		padding: var(--padding-regular);

		h2 {
			margin: 0;
		}
	}

	> img {
		max-width: 100%;
	}
}

section.ascii-description > * {
	margin-bottom: var(--padding-large);
}

/** Color Carrousel **/
section:nth-child(3n + 2) {
	background-color: var(--creme);
	color: var(--brown);
	div.textbox {
		background-color: var(--white);
	}
}
section:nth-child(3n) {
	background-color: var(--white);
	color: var(--brown);
	div.textbox {
		background-color: var(--brown);
		color: var(--white);
	}
}
section:nth-child(3n + 1) {
	background-color: var(--blue);
	color: var(--white);
	div.textbox {
		background-color: var(--white);
		color: var(--brown);
	}
}

/** Alignment Carrousel + Grid **/
section.summary .grid {
	display: grid;
	grid-template-rows: auto var(--padding-regular) var(--padding-large) auto auto;
	column-gap: var(--padding-regular);

	div.textbox {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	div.img-container {
		grid-row-start: 2;
		grid-row-end: 6;
		img {
			width: 100%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}
	}
	> a {
		grid-row-start: 4;
		grid-row-end: 5;
		border: 3px solid;
		border-radius: var(--radius-large);
		padding: var(--padding-regular);
		text-decoration: underline;
	}
}
section:nth-child(2n + 1):not(.without-image) {
	text-align: left;

	.grid {
		grid-template-columns: auto auto 15%;
	}
	div.textbox {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	div.img-container {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	> a {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}
section:nth-child(2n):not(.without-image) {
	text-align: right;

	.grid {
		grid-template-columns: 15% auto auto;
	}
	div.textbox {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	div.img-container {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	> a {
		grid-column-start: 3;
		grid-column-end: 4;
	}
}

footer {
	--icon-height: 2em;
	padding: var(--padding-small);
	display: flex;
	justify-content: space-between;
	background-color: var(--brown);

	.social-media {
		display: flex;
		gap: 1rem;
	}

	img.icon {
		height: var(--icon-height);
		border-radius: 0;
	}

	.compliance {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

// ensuring that the footer color doesn't match the background color of the previous post
footer:nth-child(3n + 1),
footer:nth-child(3n + 2) {
	background-color: var(--brown);
	color: var(--white);
}
footer:nth-child(3n) {
	background-color: var(--blue);
	color: var(--white);
}

.hidden {
	display: none;
}
