---
import { Divider } from 'src/components/divider.tsx';
import 'src/styles/global/mod.css.ts';

import { main, body, divider } from './base.css.ts';
import { Header } from './base/header.tsx';
import Footer from './base/footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ascii</title>
	</head>
	<body class={body}>
		<Header client:load />
		<main class={main}>
			<slot />
		</main>
		<Divider class={divider} />
		<Footer />
	</body>
</html>

<script>
	import { loadTheme, setTheme, onPreferenceChange } from 'src/theme.ts';
	setTheme(loadTheme());
	onPreferenceChange(setTheme);
</script>
