---
// import { AnchorButton } from 'src/components/button.tsx';

import {
	featured,
	featured_title,
	featured_description,
	featured_date,
	featured_image,
	// featured_button,
} from './featured.css.ts';

type Props = {
	class: string;
	href?: string;
	layout?: 'left' | 'right' | 'center';
	noImageBorder?: boolean;
	outline?: boolean;
	preLine?: boolean;
};

const href: string | undefined = Astro.props.href;
const layout: 'left' | 'right' | 'center' = Astro.props.layout ?? 'center';
const noImageBorder: boolean = Astro.props.noImageBorder ?? false;
const outline: boolean = Astro.props.outline ?? false;
const preLine: boolean = Astro.props.preLine ?? false;
---

<section class:list={[Astro.props.class, featured({ layout, noImageBorder, outline })]}>
	{
		Astro.slots.has('title') && (
			<h3 class={featured_title({ layout })}>
				<slot name="title" />
			</h3>
		)
	}
	<p class={featured_description({ layout, noImageBorder, preLine })}>
		<slot name="description" />
	</p>
	{
		Astro.slots.has('date') && (
			<p class={featured_date({ layout })}>
				<slot name="date" />
			</p>
		)
	}
	<div class={featured_image({ layout, noImageBorder })}>
		<slot name="image" />
	</div>
	{
		/* TODO: Include once other pages are done
		href && (
			<AnchorButton client:load {href} class={featured_button({ layout, outline })}>
				<slot name="button" />
			</AnchorButton>
		)
		*/
	}
</section>
